.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: relative; 
}

section{
    position: relative;
}

body{
    color: #70747f;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    background-color: #fff;
}

#navigationBar .container{
    display: flex;
}   
.menuItems{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;   
}

a{
    color: #12265a;
    font-weight: 900;
    text-decoration: none;

}

.menuItems a{
    padding: 0 10px;
    margin:0 12px;
    color: #12265a;
    font-weight: 900;
}

.menu-logo .navbar-band{
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
}   


.menu-logo img{
    height: 100px;  
}


.navbar-logo{
    margin-right: 15px;
}


.section-title{
    font-weight: 900;
    font-size: 20px;
    font-style: normal;
    line-height: 1.1;
    color: #12265a;
    margin-bottom: 0;
}

.section-subtitle{
    color: #fa9db7;
    line-height: 1.3;
}


#navigationBar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-logo .navbar-band{
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
}